@{
    var isDevelopment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DockerDemo03.Web</title>
    <script type="importmap"></script>

    @if(isDevelopment) {
        <!-- Usar Vite en desarrollo -->
        <link rel="stylesheet" href="http://localhost:3000/src/css/site.css" />
    } else {
        <!-- Usar archivos compilados en producción -->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DockerDemo03.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DockerDemo03.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @if(isDevelopment) {
        <!-- Usar Vite en desarrollo -->
        <script type="module" src="http://localhost:3000/src/js/site.js"></script>
    } else {
        <!-- Usar archivos compilados en producción -->
        <script src="~/js/site.js" asp-append-version="true"></script>
    }

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
