@page "{id:int}"
@model DockerDemo03.Web.Pages.EFCore.Edit
@{
    ViewData["Title"] = "Edit Todo";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="hidden" name="TodoItem.Id" value="@Model.TodoItem.Id" />
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" id="Title" name="TodoItem.Title" value="@Model.TodoItem.Title" required>
    </div>
    <div class="form-check mb-3">
        <input type="hidden" name="TodoItem.IsCompleted" value="false" asp-for="TodoItem.IsCompleted" />
        <input type="checkbox" class="form-check-input" id="IsCompleted" name="TodoItem.IsCompleted" value="true" @(Model.TodoItem.IsCompleted ? "checked" : "")>
        <label for="IsCompleted" class="form-check-label">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a type="button" class="btn btn-secondary" asp-page="Index">Regresar</a>
</form>